name: Update README with Greetings

on:
  schedule:
    - cron: '*/60 * * * *'
  workflow_dispatch:

permissions:
  contents: read  

jobs:
  update-time:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Update .md files
      run: python script.py
      env:
        TOKEN: ${{ secrets.TOKEN }}

